@charset "utf-8";

@import './modules/reset';
@import './modules/vars'; 
@import './modules/header';
@import './modules/footer';

.pageHome{
    padding-top: 60px;
    //title screen
    
    .thingSec{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h2{
            font-size: 30px;
            width: 100%;
            text-align: center; 
        }
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 30px;
            .menuItem{
                height: 70px;
                width: 70px;
                border-radius: 50%;
                background-color: black;
                cursor: pointer;
            }
            .cordae{
                background: url('../images/cordae.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .gravy{
                background: url('../images/gravy.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .trippie{
                background: url('../images/trippie.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .siege{
                background: url('../images/siege.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .minecraft{
                background: url('../images/minecraft.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .rocket{
                background: url('../images/rl.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .fest{
                background: url('../images/fest.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .kayak{
                background: url('../images/kayak.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .soccer{
                background: url('../images/soccer.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        .data{
            margin-top: 30px;
            padding: 10px 15px 10px 15px;
            width: 100%;
            background-color: rgba(0,0,0,.2);
            text-align: center;
            .name{
                font-size: 24px;
            }
            .genre{
                font-size: 16px;
                margin-top: 3px;
                color: rgba(255, 255, 255, 0.75);
            }
            .songs{
                font-size: 16px;
                margin-top: 10px;
            }
            .popSongs{
                font-size: 14px;
                color: rgba(255, 255, 255, 0.75);
                margin-top: 5px;
            }
            .date{
                font-size: 16px;
                margin-top: 10px;
            }
            .descHead{
                font-size: 16px;
                margin-top: 10px;
            }
            .desc{
                margin-top: 5px;
                font-size: 14px;
            }

            .images{
                height: 150px;
                margin-top: 5px;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.pageError{
    height: 83vh;
    .errDiv{
        padding-top: 300px;
    }

    .errIcon{
        text-align: center;
        font-size: 70px;
    }    

    .errMsg{
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        line-height: 26px;
        a{
            color: whitesmoke;
            cursor: pointer;
        }
    }
}

@media only screen and (min-width: 500px){
    .pageHome{
    .thingSec{
        .menu{
            .menuItem{
                height: 125px;
                width: 125px;
            }
        }
        .data{
            .images{
                height: 250px;
            }
        }
    }
}
}


@media only screen and (min-width: 650px){
    .pageHome{
    .thingSec{
        .menu{
            .menuItem{
                height: 200px;
                width: 200px;
            }
        }
    }
}
}

@media only screen and (min-width: 950px){
    .pageHome{
    .thingSec{
        .data{
            .images{
                height: 450px;
            }
        }
    }
}
}

