<main class="pageError">
    <h1 class="hidden">Error 404: Page not found.</h1>
    <div class="errDiv">
        <p class="errIcon"><span>x_x</span></p>
        <p class="errMsg">uh oh...<br> Looks like this page doesn't exist yet<br>Go back <a href="/">home</a>.</p>
    </div>

</main>
