<main class="pageHome">
    <h1 class="hidden">Home page</h1>

    {{!-- add title screen --}}

    <div class="thingSec musicSec">
        <h2>Music</h2>
        <div class="menu">
            <div class="menuItem cordae"></div>
            <div class="menuItem gravy"></div>
            <div class="menuItem trippie"></div>
        </div>

        <div class="data">
            <h3 class="name">Artist</h3>
            <p class="genre">Genre</p>
            <img src="" class="images">
            <h4 class="songs">Popular Songs</h4>
            <p class="popSongs">Song, song, song</p>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus veniam reprehenderit quisquam obcaecati pariatur ab sequi? Magni repellendus amet, libero, fuga veritatis dolor voluptatibus explicabo, eaque quod enim harum non.</p>
        </div>
    </div>

    <div class="thingSec gameSec">
        <h2>Video Games</h2>
        <div class="menu">
            <div class="menuItem siege"></div>
            <div class="menuItem minecraft"></div>
            <div class="menuItem rocket"></div>
        </div>

        <div class="data">
            <h3 class="name">Title</h3>
            <p class="genre">Genre</p>
            <img src="" class="images">
            <p class="date"> release date</p>
            <h4 class="descHead">Game Description</h4>
            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus veniam reprehenderit quisquam obcaecati pariatur ab sequi? Magni repellendus amet, libero, fuga veritatis dolor voluptatibus explicabo, eaque quod enim harum non.</p>
        </div>
    </div>

    <div class="thingSec activitySec">
        <h2>Activities</h2>
        <div class="menu">
            <div class="menuItem fest"></div>
            <div class="menuItem kayak"></div>
            <div class="menuItem soccer"></div>
        </div>

        <div class="data">
            <h3 class="name">Title</h3>
            <p class="genre">Genre</p>
            <img src="" class="images">
            <h4 class="descHead">Description</h4>
            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus veniam reprehenderit quisquam obcaecati pariatur ab sequi? Magni repellendus amet, libero, fuga veritatis dolor voluptatibus explicabo, eaque quod enim harum non.</p>
        </div>
    </div>

</main>