<main class="pageHome">
    <h1 class="hidden">Home page</h1>

    {{!-- add title screen --}}

    <div class="thingSec musicSec">
        <h2>Music</h2>
        <div class="menu">
            <div class="menuItem mi1"></div>
            <div class="menuItem mi2"></div>
            <div class="menuItem mi3"></div>
            <div class="menuItem mi4"></div>
        </div>

        <div class="data">
            <h3 class="name">Title</h3>
            <p class="genre">Genre</p>
            <div class="images"></div>
            <h4 class="songs">Popular Songs</h4>
            <ul class="popSongs">
                <li>song</li>
                <li>song</li>
                <li>song</li>
            </ul>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus veniam reprehenderit quisquam obcaecati pariatur ab sequi? Magni repellendus amet, libero, fuga veritatis dolor voluptatibus explicabo, eaque quod enim harum non.</p>
        </div>
    </div>

    <div class="thingSec gameSec">
        <h2>Video Games</h2>
        <div class="menu">
            <div class="menuItem mi1"></div>
            <div class="menuItem mi2"></div>
            <div class="menuItem mi3"></div>
            <div class="menuItem mi4"></div>
        </div>

        <div class="data">
            <h3 class="name">Title</h3>
            <p class="genre">Genre</p>
            <div class="images"></div>
            <p class="date"> release date</p>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus veniam reprehenderit quisquam obcaecati pariatur ab sequi? Magni repellendus amet, libero, fuga veritatis dolor voluptatibus explicabo, eaque quod enim harum non.</p>

        </div>
    </div>

    <div class="thingSec activitySec">
        <h2>Activities</h2>
        <div class="menu">
            <div class="menuItem mi1"></div>
            <div class="menuItem mi2"></div>
            <div class="menuItem mi3"></div>
            <div class="menuItem mi4"></div>
        </div>

        <div class="data">
            <h3 class="name">Title</h3>
            <p class="genre">Genre</p>
            <div class="images"></div>
            <h4 class="descHead">Artist Bio</h4>
            <p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus veniam reprehenderit quisquam obcaecati pariatur ab sequi? Magni repellendus amet, libero, fuga veritatis dolor voluptatibus explicabo, eaque quod enim harum non.</p>

        </div>
    </div>

</main>